<!--<h1>Lists#show</h1>-->
<!--<p>Find me in app/views/lists/show.html.erb</p>-->

<h2>タイトル</h2>
<p><%= @list.title %></p>
<h2>本文</h2>
<p><%= @list.body %></p>
<%= link_to "編集", edit_list_path(@list.id)%>